:root {
    --text-background: url("./images/battleship-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-game-microsoft-store-europe-cover.jpg");
    --ship-background: url("./images/world-of-warships-wargaming-net-ship-explosion-wallpaper.jpg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: var(--ship-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
    min-height: 30px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: #173782;
    margin-top: 20px;
    padding: 20px 50px;
}

h2 {
    text-align: center;
    padding: 8px 0px;
}

/* ALL SCREENS: BECAUSE ALL SCREENS ARE CONTENT WRAPPERS */
.start-battleship-screen, .select-players-screen, .game-screen, .place-ships-screen, .placement, .game-player-one, .game-player-two, .start-round {
    flex: 1;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/*------------------------------------------------------------------------*/

/* BLUE BUTTONS */


/* BIG BUTTONS */
.start-game-btn, .btn-one-player-game, .btn-two-player-game, .start-round-btn {
    color: white;
    background-color: #173782;
    font-size: 45px;
    padding: 20px 50px;
    width: 350px;
}

.start-round-btn {
    width: 450px;
}

/* SMALL BUTTONS */

.ships-submit-player-one, .ships-submit-player-two, .end-round {
    color: white;
    background-color: #173782;
    font-size: 16px;
    padding: 8px 10px;
}

/*------------------------------------------------------------------------*/

/* START BATTLESHIP SCREEN */

.start-battleship-screen {
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------------------*/

/* SELECT PLAYERS SCREEN */


  /* Modal Content/Box */
.select-players-btns-container {
    background-color: transparent;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


/*------------------------------------------------------------------------*/

/* PLAY ROUND SCREENS */
.game-screen {
    padding: 35px 250px 55px;
}

.notices {
    min-height: 20px;
}

.start-round {
    align-items: center;
    justify-content: center;
}


.players {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.boards, .ships {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.ships {
    padding-top: 50px;
}

.game-submit {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}


/*------------------------------------------------------------------------*/

/* GAME BOARD BUTTON STYLES */

.player-one-buttons, .player-two-buttons, .player-one-ship-buttons, .player-two-ship-buttons {
    border-radius: 0;
    border: .5px solid black;
    background-color: white;
}
.hover:hover {
    background-color: lightgrey;
    cursor: pointer;
}


/*------------------------------------------------------------------------*/

/* PLACE SHIPS SCREEN */

.place-ships-screen{
    padding: 35px 250px 55px;
    justify-content: center;
}

.placement {
    flex-direction: column;
}

.placement-boards {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.ship-buttons-one, .ship-buttons-two {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
.ships-submit {
    display: flex;
    justify-content: center;
}


/* Hover over place ship board */
.hover-effect:hover {
    background-color: lightgrey;
    cursor: pointer;
}


/*------------------------------------------------------------------------*/

/* TOGGLE COLORS */

.hit {
    background-color: red;
}

.miss {
    background-color: black;
}

/* SHIP PLACEMENT COLORS*/
.selected {
    background-color: grey;
}

.current {
    background-color: green;
}

.complete {
    background-color: gray;
}

/*------------------------------------------------------------------------*/

/* SCREENS VISIBLE BY DEFAULT */
.start-battleship-screen, .placement, .game-player-one {
    display: flex;
}

/* SCREENS HIDDEN BY DEFUALT */
.select-players-screen, .place-ships-screen, .placement-player-two, .game-screen, .game-player-two, .start-round, .header-text {
    display: none;
}

