:root {
    --text-background: url("./images/battleship-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-game-microsoft-store-europe-cover.jpg");
    --ship-background: url("./images/world-of-warships-wargaming-net-ship-explosion-wallpaper.jpg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: var(--ship-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
    min-height: 30px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: #173782;
    margin-top: 20px;
    padding: 20px 50px;
}

.names {
    text-align: center;
    padding: 8px 0px;
}

/*------------------------------------------------------------------------*/

/* START BATTLESHIP SCREEN */

.start-battleship-screen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-game-btn {
    color: white;
    background-color: #173782;
    font-size: 45px;
    padding: 20px 50px;
    width: 350px;
}

/*------------------------------------------------------------------------*/

/* SELECT PLAYERS SCREEN */

.select-players-screen {
    flex: 1;
    display: flex;
}


  /* Modal Content/Box */
.select-players-btns-container {
    background-color: transparent;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

.btn-one-player-game, .btn-two-player-game {
    color: white;
    background-color: #173782;
    font-size: 45px;
    padding: 20px 50px;
    width: 350px;
}


/*------------------------------------------------------------------------*/

/* PLAY ROUND SCREENS */
.game-screen {
    flex: 1;
    display: flex;
    padding: 35px 250px 55px;
}

.game-player-one, .game-player-two {
    flex: 1;
    display: flex;
}

.start-round {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-round-btn {
    font-size: 16px;
    background-color: white;
    padding: 8px 12px;
}

.players {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.boards, .ships {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.ships {
    padding-top: 50px;
}

.game-submit {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.end-round {
    font-size: 16px;
    padding: 8px 10px;
    background-color: white;
}

/*------------------------------------------------------------------------*/

/* GAME BOARD BUTTON STYLES */

.player-one-buttons, .player-two-buttons, .player-one-ship-buttons, .player-two-ship-buttons {
    border-radius: 0;
    border: .5px solid black;
    background-color: white;
}
.player-one-buttons:hover, .player-two-buttons:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.hit {
    background-color: red;
}

.miss {
    background-color: black;
}

/*------------------------------------------------------------------------*/

/* PLACE SHIPS SCREEN */

.place-ships-screen{
    flex: 1;
    display: flex;
    padding: 35px 250px 55px;
    justify-content: center;
}

.placement {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.placement-boards {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.ship-buttons-one, .ship-buttons-two {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
.ships-submit {
    display: flex;
    justify-content: center;
}

/* Hover over place ship board */
.hover-effect:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/* Color of placed ships on the board*/
.selected {
    background-color: grey;
}

/* Color of ship button that's currently being placed */
.current {
    background-color: green;
}

/* Color of ship button after it's been placed */
.complete {
    background-color: gray;
}

/*------------------------------------------------------------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


/*Temporary borderers to view divs */
.players {
    border: 1px solid black;
}

.boards {
    background-color: aqua;
}

.place-ships-screen {
    border: 1px solid blue;
}

.placement-player-one {
    border: 1px solid orange;
}

/* Hidden screens by default */
.select-players-screen {
    display: none;
}
.game-screen {
    display: none;
}
.place-ships-screen {
    display: none;
}

.placement-player-two {
    display: none;
}
.game-player-two, .start-round {
    display: none;
}

.header-text {
    display: none;
}
