:root {
    --text-background: url("./images/battleship-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-game-microsoft-store-europe-cover.jpg");
    --ship-background: url("./images/world-of-warships-wargaming-net-ship-explosion-wallpaper.jpg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: var(--text-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

.ship-bgd {
    background-image: var(--ship-background);
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: #173782;
    margin-top: 20px;
    padding: 20px 50px;
}

.game {
    flex: 1;
    display: flex;
    padding: 35px 250px 55px;
}

.players {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* names here? */
.names {
    text-align: center;
    padding: 8px 0px;
}

.boards {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.player-one-buttons {
    border-radius: 0;
    border: .5px solid black;
    background-color: white;
}
.player-one-buttons:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.hit {
    background-color: red;
}

.miss {
    background-color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


/*Temporary borderers to view divs */
.players {
    border: 1px solid black;
}

.boards {
    background-color: aqua;
}


/* Hidden screens by default */

header {
    visibility: hidden;
}

.choose-player {
    visibility: hidden;
}

.place-ships {
    visibility: hidden;
}

.game-over {
    visibility: hidden;
}

.game {
    visibility: hidden;
}


.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.choose-player-modal > .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 35%;
}

.btn-start, .btn-one-players, .btn-two-players {
    color: white;
    background-color: #173782;
    font-size: 45px;
    padding: 20px 50px;
    width: 350px;
}
